@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer utilities{
  * {
    @apply border-border;
  }
  .Container {
    @apply max-w-[100vw] max-h-screen overflow-hidden grid grid-rows-[85vh_15vh];
  }
  .Container .spotify__body {
    @apply lg:grid lg:grid-cols-[15vw_85vw] h-full w-full bg-[rgb(32,87,100)] flex;
    background: linear-gradient(to bottom, rgb(32, 87, 100), black);
  }
  .Container .spotify__body .body {
    @apply h-full w-full overflow-auto;
  }
  .Container .spotify__body .body::-webkit-scrollbar {
    @apply w-[0.7rem] max-h-8;
  }
  .Container .spotify__body .body::-webkit-scrollbar-thumb {
    @apply bg-[rgba(255,255,255,0.6)];
  }
  .playList ul::-webkit-scrollbar {
    @apply w-[0.7rem];
  }
  .playListul::-webkit-scrollbar-thumb {
    @apply bg-[rgba(255,255,255,0.6)];
  }

  .top__links .logo img {
    max-inline-size: 80%;
    block-size: auto;
  }
}